<configuration>
  <configSections>
    <section name="SynergyLicenseServer" type="System.Configuration.SingleTagSectionHandler" />
    <section name="SynergyEnvironment" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <SynergyLicenseServer value="" />
  <SynergyEnvironment />
</configuration>