<?xml version="1.0"?>
<configuration>
  <startup>
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Basic" maxReceivedMessageSize="10000000" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcp" maxReceivedMessageSize="10000000" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WsPlain" maxReceivedMessageSize="10000000">
          <security mode="None" />
        </binding>
        <binding name="WsSecure" maxReceivedMessageSize="10000000" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WcfMultipleBindings/TestService.svc"
        binding="basicHttpBinding" bindingConfiguration="Basic" contract="TestService.ITestService"
        name="Basic" />
      <endpoint address="http://localhost/WcfMultipleBindings/TestService.svc/WsPlain"
        binding="wsHttpBinding" bindingConfiguration="WsPlain" contract="TestService.ITestService"
        name="WsPlain" />
      <endpoint address="http://localhost/WcfMultipleBindings/TestService.svc/WsSecure"
        binding="wsHttpBinding" bindingConfiguration="WsSecure" contract="TestService.ITestService"
        name="WsSecure">
        <identity>
          <servicePrincipalName value="host/SIVESW8X64" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/WcfMultipleBindings/TestService.svc/NetTcp"
        binding="netTcpBinding" bindingConfiguration="NetTcp" contract="TestService.ITestService"
        name="NetTcp">
        <identity>
          <servicePrincipalName value="host/SIVESW8X64" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
