<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="wsHttpEndpoint" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WebHost/PartsService.svc"
                binding="wsHttpBinding" bindingConfiguration="wsHttpEndpoint"
                contract="WcfServiceClient.IPartsService" name="wsHttpEndpoint">
                <identity>
                    <servicePrincipalName value="host/SIVESW81" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>