<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpEndpoint" maxReceivedMessageSize="100000000" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50075/PartsService.svc" binding="wsHttpBinding"
          bindingConfiguration="wsHttpEndpoint" contract="WcfServiceClient.IPartsService"
          name="wsHttpEndpoint">
        <identity>
          <userPrincipalName value="SIULTRABOOK\Steve" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>