.igdw_Office2007BlackControl
{
	background-color:Transparent;
	border-width:0px;
}


.igdw_Office2007BlackHeaderArea
{
	font-weight:bold;
	border-width:0px;
	height: 42px;
	cursor:default;
	color:White;
}


.igdw_Office2007BlackBodyContent
{
	background-color:White;
	border:solid 1px #4C535C;
}


.igdw_Office2007BlackHeaderButton
{
	margin:1px;
	cursor:pointer;
}


.igdw_Office2007BlackHeaderCaption
{
	font-weight:normal;
	font-size:12px;
	margin-top:16px;
	margin-left:6px;
	padding-top:10px;
	color:White;
}


.igdw_Office2007BlackHeaderButtonArea
{
	width: 120px;
	vertical-align:middle;
}


.igdw_Office2007BlackHeaderImage
{
	cursor:default;
}


.igdw_Office2007BlackModalBackground
{
	background-color: #FFFFFF;
	filter: alpha(opacity : 50);
	opacity: 0.5;
	z-index: 99999;
}


.igdw_Office2007BlackResizingHandle
{
	cursor:se-resize;
}


/* used only when header visible */
.igdw_Office2007BlackHeaderCornerLeft
{
	background-position:top left ;
	background-image: url(./images/igdw_topleft.gif);
	font-size:1px;
	width: 9px;
}


/* used only when header visible */
.igdw_Office2007BlackHeaderContent
{
	background-image: url(./images/igdw_top.gif);
}


/* used only when header visible */
.igdw_Office2007BlackHeaderCornerRight
{
	background-position:top right ;
	background-image: url(./images/igdw_topright.gif);
	font-size:1px;
	width: 9px;
}


/* used only when header hidden */
.igdw_Office2007BlackBodyCornerTopLeft
{
	background-position:top left ;
	background-image: url(./images/igdw_toplefthidden.gif);
	font-size:1px;
	height: 9px;
	width: 9px;
}


/* used only when header hidden */
.igdw_Office2007BlackBodyEdgeTop
{
	background-image: url(./images/igdw_tophidden.gif);
	font-size:1px;
	height: 9px;
}


/* used only when header hidden */
.igdw_Office2007BlackBodyCornerTopRight
{
	background-position:top right ;
	background-image: url(./images/igdw_toprighthidden.gif);
	font-size:1px;
	height: 9px;
	width: 9px;
}


.igdw_Office2007BlackBodyEdgeLeft
{
	background-position:top left ;
	background-image: url(./images/igdw_edgeleft.gif);
	font-size:1px;
	width: 9px;
}


.igdw_Office2007BlackBodyEdgeRight
{
	background-position:top right ;
	background-image: url(./images/igdw_edgeright.gif);
	font-size:1px;
	width: 9px;
}


.igdw_Office2007BlackBodyCornerBottomLeft
{
	background-position:bottom left ;
	background-image: url(./images/igdw_bottomleft.gif);
	font-size:1px;
	width: 9px;
	height: 9px;
}


.igdw_Office2007BlackBodyContentArea
{
	vertical-align:top;
}


.igdw_Office2007BlackBodyCornerBottomRight
{
	background-position:bottom right ;
	background-image: url(./images/igdw_bottomright.gif);
	font-size:1px;
	width: 9px;
	height: 9px;
}


.igdw_Office2007BlackBodyEdgeBottom
{
	background-position:bottom ;
	background-image: url(./images/igdw_bottom.gif);
	font-size:1px;
	height: 9px;
}


