<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="WcfWindowsServiceHost.CalculatorService">
        <clear />
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
          name="basicHttp" contract="WcfWindowsServiceHost.ISimpleCalculator"
          listenUriMode="Explicit" />
        <endpoint address="wsHttpPlain" binding="wsHttpBinding" bindingConfiguration="WsHttpPlainBinding"
          name="wsHttpPlain" contract="WcfWindowsServiceHost.ISimpleCalculator"
          listenUriMode="Explicit" />
        <endpoint address="wsHttpSecure" binding="wsHttpBinding" bindingConfiguration="WsHttpSecureBinding"
          name="wsHttpSecure" contract="WcfWindowsServiceHost.ISimpleCalculator"
          listenUriMode="Explicit" />
        <endpoint address="net.tcp://localhost:8081" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding" name="netTcp" contract="WcfWindowsServiceHost.ISimpleCalculator" />
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange"
          listenUriMode="Explicit" />
        </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WsHttpPlainBinding">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" negotiateServiceCredential="false"
              establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="WsHttpSecureBinding" />
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>