<?xml version="1.0" encoding="UTF-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings />
  <connectionStrings />
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Basic" maxBufferSize="10000000" maxReceivedMessageSize="10000000" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcp" maxBufferSize="10000000" maxReceivedMessageSize="10000000">
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WsPlain" maxReceivedMessageSize="10000000">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" negotiateServiceCredential="false"
              establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="WsSecure" maxReceivedMessageSize="10000000" />
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service behaviorConfiguration="MyServiceTypeBehavior" name="WebServer.TestService">
        <clear />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Basic"
          name="Basic" contract="WebServer.ITestService" listenUriMode="Explicit" />
        <endpoint address="WsPlain" binding="wsHttpBinding" bindingConfiguration="WsPlain"
          name="WsPlain" contract="WebServer.ITestService" listenUriMode="Explicit" />
        <endpoint address="WsSecure" binding="wsHttpBinding" bindingConfiguration="WsSecure"
          name="WsSecure" contract="WebServer.ITestService" />
        <endpoint address="NetTcp" binding="netTcpBinding" bindingConfiguration="NetTcp"
          name="NetTcp" contract="WebServer.ITestService" listenUriMode="Explicit" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfMultipleBindings/TestService.svc" />
            <add baseAddress="net.tcp://localhost/WcfMultipleBindings/TestService.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>